.u-mb-0 { margin-bottom: 0 !important; }
.u-mb-16 { margin-bottom: 1rem !important; }
.u-mb-24 { margin-bottom: 1.5rem !important; }
.u-mb-32 { margin-bottom: 2rem !important; }
.u-mb-40 { margin-bottom: 2.5rem !important; }
